﻿@model GetAuthorAuthorManagementResponseViewModel

@{
    ViewData["Title"] = "Get";
}

<h2>@Model.FirstName @Model.LastName</h2><br />

<h4>Books</h4><br />

<table class="table">
    <tr><th>Title</th><th>Publication Year</th><th>Genres</th></tr>
    @foreach (var book in Model.Books)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.PublicationYear</td>
            <td>
                <ul>
                    @foreach (var genre in book.Genres)
                    {
                        <li>
                            @genre.Title
                        </li>
                    }
                </ul>
            </td>
        </tr>
    }
</table>





