﻿@model GetAuthorListAuthorAuthorManagementResponseViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Authors</h1>

<table class="table">
    <tr><th>First Name</th><th>Last Name</th><th></th></tr>
    @foreach (var author in Model.AuthorList)
    {
        <tr>
            <td>@author.FirstName</td>
            <td>@author.LastName</td>
            <td>
                <a class="btn btn-info" asp-area="AuthorManagement" asp-controller="Author" asp-action="Get" asp-route-id="@author.Id">Details</a>
            </td>
        </tr>
    }
</table>

