﻿@model ChangePasswordAccountAccountAdministrationRequestViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

<form asp-area="AccountAdministration" asp-controller="Account" asp-action="ChangePassword">

    <div asp-validation-summary="ModelOnly"></div>

    <div class="m-4">
        <label asp-for="CurrentPassword"></label><br />
        <input asp-for="CurrentPassword" />
    </div>

    <div class="m-4">
        <label asp-for="NewPassword"></label><br />
        <input asp-for="NewPassword" />
    </div>

    <button id="btnSubmit" class="m-4" type="submit">Submit</button>

</form>
