﻿@model CreateAccountAccountAdministrationRequestViewModel

@{
    ViewData["Title"] = "Registration";
}

<h2>Register</h2>

<form method="post" asp-area="AccountAdministration" asp-controller="Account" asp-action="Create">

    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="FirstName"></label><br />
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <div>
        <label asp-for="LastName"></label><br />
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Gender"></label><br />

        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<CreateAccountAccountAdministrationRequestViewModelGenderType>()">
            <option selected="selected" value="Select your gender">Select your gender</option>
        </select>

        <span asp-validation-for="Gender"></span>
    </div>
  

    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="PasswordConfirmation"></label><br />
        <input asp-for="PasswordConfirmation" />
        <span asp-validation-for="PasswordConfirmation"></span>
    </div>

    <div>
        <input type="submit" value="Register" />
    </div>

</form>