﻿@model GetAccountAccountAdministrationResponseViewModel

@{
    ViewData["Title"] = "My Account";
}

<h2>My Account</h2>

<div class="btn-group">
    <button class="m-4 btn btn-warning" id="btnEdit">Edit Info</button>
    <a class="m-4 btn btn-info" asp-area="AccountAdministration" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
    <a class="m-4 btn btn-danger" asp-area="AccountAdministration" asp-controller="Account" asp-action="Delete">Delete Account</a>
</div>


<form id="formUpdate" asp-area="AccountAdministration" asp-controller="Account" asp-action="Update">

    <div asp-validation-summary="ModelOnly"></div>

    <div class="m-4">
        <label asp-for="FirstName"></label><br />
        <input disabled asp-for="FirstName" />
    </div>

    <div class="m-4">
        <label asp-for="LastName"></label><br />
        <input disabled asp-for="LastName" />
    </div>

    <div class="m-4">
        <label asp-for="Gender"></label><br />

        <select disabled asp-for="Gender" asp-items="Html.GetEnumSelectList<CreateAccountAccountAdministrationRequestViewModelGenderType>()">
            <option selected="selected" value="Select your gender">Select your gender</option>
        </select>

        <span asp-validation-for="Gender"></span>
    </div>

    <button hidden id="btnSubmit" class="m-4" type="submit">Update</button>

</form>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#btnEdit").on("click", function () {
                $("#formUpdate").each(function () {
                    var input = $(this).find(':input');
                    var isReadonly = input.prop("disabled");
                    input.prop("disabled", !isReadonly);
                });

                var isButtonHidden = $("#btnSubmit").prop("hidden");
                $("#btnSubmit").prop("hidden", !isButtonHidden);
            });
        });
    </script>
}