﻿@model SignInAccountAccountAdministrationRequestViewModel
@{
    ViewData["Title"] = "Sign In";
}

<h2>Sign In</h2>

<form method="post" asp-area="AccountAdministration" asp-controller="Account" asp-action="SignIn">

    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="Sign In" />
    </div>
</form>

